.DS_Store
/bin
/lib/appengine-api-1.0-sdk-1.9.24.jar
/build
/.settings
/.gradle
/.project
/.classpath
/buildSrc/.gradle
/buildSrc/build
/buildSrc/src/main/resources/com/ivonneroberts/todo/generator/constant.properties
/src/main/java/com/ivonneroberts/todo/Constants.java
/appengine.properties
